<h1> Beatmaps by Main Mod </h1>
@{ 
    int i = 0;
    foreach (var RelatedBeatmap in Model.RelatedBeatmaps)
    {
        i++;
        if (i<= 10) { 
        RelatedBeatmap.SetBeatmapInfo(RelatedBeatmap);
    <div class="image">
        <a href="@RelatedBeatmap.beatmapLink" target="_blank"><img src="@RelatedBeatmap.coverLink"></a>
        <h2 class="name"><a href="@RelatedBeatmap.beatmapLink" target="_blank" class="beauty"><span>@RelatedBeatmap.artist - @RelatedBeatmap.title</span></a></h2>
        <h2 class="data"><span>Expected pp: @RelatedBeatmap.pp<br>Expected rank: @RelatedBeatmap.rank</span>
        </h2>
    </div>
        }
        else
        { break; }
    }
}